@media screen and (max-width:1300px) {
	h1 {
	    font-size: 35px;
	}

	h2 {
		font-size: 22px;
	}

	body {
		font-size: 14px;
	}

	.wrapper {
		width: 768px;
	}

	.header__left {
		width: 180px;
	}

	.header__right {
		width: 550px;
	}

	.header__lang a {
		font-size: 12px;
	}

	.header__bottom {
		margin-top: 7px;
	}

	.header__phone {
		margin: 0 20px 0 20px;
	}

	.social__item {
		width: 20px;
		height: 20px;
		margin-right: 6px;
		background-size: 20px;
	}

	.social__item:hover {
		background-size: 20px;
	}

	.search {
		width: 210px;
		margin-left: 38px;
	}

	.search button {
		width: 20px;
		height: 20px;
		background-size: 20px;
	}

	.search button:hover {
		background-size: 20px;
	}

	/*main page*/
	.slide {
		/*height: 550px;*/
	}

	.info__block_text {
		font-size: 35px;
		width: 50%;
	}

	.slide__text {
		font-size: 25px;
		letter-spacing: -2.5px;
	}

	.text__right {
		height: 580px;
	}

	.text__bottom {
		bottom: 55px;
	}

	.content__header {
		margin-top: 50px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.main__content {
		/*flex-wrap: wrap;*/
	}

	.news {
		width: 48%;
		margin-bottom: 15px;
	}

	.health {
		width: 48%;
		margin-bottom: 15px;
	}

	.news__item {
		margin-bottom: 15px;
		min-height: 115px;
	}

	.news__item_pic {
		width: 85px;
		height: 85px;
		margin-right: 10px;
	}

	.news__item_info {
		width: 80%;
	}

	.news__item_header {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.footer {
		padding: 30px 0;
	}

	.footer__items {
		flex-wrap: wrap;
	}

	.footer__item {
		width: 18%;
		font-size: 9px;
		margin-bottom: 20px;
	}

	.footer__contacts {
		width: 37%;
	}

	.footer__item_menu {
		width: 14%;
	}

	.footer__logo {
		width: 50%;
	}

	.footer__header {
		font-size: 12px;
	}

	.footer__contacts_link {
		margin-left: 20px;
		margin-bottom: 15px;
	}

	.footer__contacts_link:before {
		left: -20px;
	}

	.footer__menu_item {
		margin-bottom: 10px;
	}

	.footer .header__social {
		width: 100%;
	}

	.footer__products_items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.footer__products {
		width: 17%;
	}

	.footer__products_item {
		margin-bottom: 11px;
		width: 70%;
	}

	.footer__products_pic img {
		max-height: 35px;
	}

	.social__item_footer,
	.social__item_footer:hover {
		width: 17px;
		height: 17px;
		margin-right: 5px;
		background-size: 17px;
	}

	.social__item_footer.social__item_telegtam,
	.social__item_footer.social__item_vk,
	.social__item_footer.social__item_tiktok,
	.social__item_footer.social__item_ok,
	.social__item_footer.social__item_youtube,
	.social__item_footer.social__item_dzen,
	.social__item_footer.social__item_telegtam:hover,
	.social__item_footer.social__item_vk:hover,
	.social__item_footer.social__item_tiktok:hover,
	.social__item_footer.social__item_ok:hover,
	.social__item_footer.social__item_youtube:hover,
	.social__item_footer.social__item_dzen:hover {
		background-size: 17px;
	}

	.social__item_footer:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width:780px) {
	h1 {
		font-size: 17px;
		line-height: 18px;
		margin-bottom: 25px;
	}

	h2 {
		font-size: 16px;
		line-height: 20px;
	}

	h3 {
		font-size: 14px;
		line-height: 18px;
	}

	h4 {
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 19px;
	}

	h5, h6 {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 15px;
	}

	th,
	td {
		padding: 7px;
	}

	body {
		font-size: 12px;
	}

	.wrapper{
		width: 90%;
	}

	.header {
		padding: 10px 0;
		font-size: 12px;
	}

	.header__left {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		width: 215px;
	}

	.header__right_top {
		display: none;
	}

	.header__right {
		display: none;
	}

	.header__menu {
		display: none;
	}

	/*main page*/
	.page__main {
		margin-bottom: 50px;
	}

	.slide {
		/*height: 400px;*/
	}

	.info__block_text {
		font-size: 30px;
		font-weight: 500;
		line-height: 35px;
		width: 90%;
	}

	.slide__text {
		font-size: 18px;
		letter-spacing: -2px;
	}

	.text__right {
		height: 380px;
	}

	.text__bottom {
		bottom: 45px;
	}

	.content__header {
		margin-top: 50px;
		margin-bottom: 15px;
		font-size: 25px;
	}


	.slick-dots {
		bottom: 20px;
	}

	.slick-dots li.slick-active {
		border: 1px solid #fff;
		top: 8px;
	}

	.slick-dots li {
		width: 15px;
		height: 15px;
	}

	.slick-dots li button {
		width: 15px;
		height: 15px;
		border: 1px solid #fff;
	}

	.main__content {
		flex-wrap: wrap;
	}

	.news {
		width: 100%;
		margin-bottom: 25px;
	}

	.health {
		width: 100%;
		margin-bottom: 25px;
	}

	.content__header {
		margin-top: 30px;
		margin-bottom: 25px;
		font-weight: 500;
		font-size: 22px;
	}

	.news__item {
		min-height: 100px;
		margin-bottom: 20px;
		justify-content: flex-start;
	}

	.news__item_pic {
		width: 70px;
		height: 70px;
	}

	.news__item_info {
		width: 80%;
	}

	.news__item_header {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.news__item_text {
		font-size: 12px;
	}

	.footer {
		padding: 25px 0;
	}

	.footer__items {
		flex-wrap: wrap;
	}

	.footer__item {
		width: 100%;
		font-size: 12px;
		margin-bottom: 10px;
	}

	.footer__contacts {
		width: 100%;
	}

	.footer__logo {
		width: 215px;
		margin-bottom: 20px;
	}

	.footer__header {
		font-size: 16px;
		font-weight: 600;
	}

	.footer__contacts_link {
		margin-left: 20px;
		margin-bottom: 15px;
	}

	.footer__contacts_link:before {
		left: -20px;
	}

	.footer__menu_items {
		margin-left: 0;
		list-style: none;
	}

	.footer__menu_item {
		margin-bottom: 15px;
	}

	.footer .header__social {
		width: 70%;
	}

	.footer__item_menu {
		display: none;
	}

	.footer__products_item {
		margin-bottom: 20px;
		width: 48%;
		text-align: center;
	}

	.footer__products_pic img {
		max-height: 35px;
		width: auto;
	}

	.footer .header__social {
		width: 100%;
	}

	.sidebar__contacts .social__item,
	.social__item_footer,
	.social__item_footer:hover,
	.sidebar__contacts .social__item:hover {
		width: 27px;
		height: 27px;
		margin-right: 15px;
		background-size: 27px;
	}

	.social__item_footer.social__item_telegtam,
	.social__item_footer.social__item_vk,
	.social__item_footer.social__item_tiktok,
	.social__item_footer.social__item_ok,
	.social__item_footer.social__item_youtube,
	.social__item_footer.social__item_dzen,
	.social__item_footer.social__item_telegtam:hover,
	.social__item_footer.social__item_vk:hover,
	.social__item_footer.social__item_tiktok:hover,
	.social__item_footer.social__item_ok:hover,
	.social__item_footer.social__item_youtube:hover,
	.social__item_footer.social__item_dzen:hover {
		background-size: 27px;
	}

	.social__item_footer:last-child {
		margin-right: 0;
	}

	.sidebar-block__top {
		overflow: hidden;
	}

	.user-sidebar__logo {
		width: 50%;
		display: inline-block;
	}

	.sidebar-block__close {
		float: right;
		margin-right: 40px;
		margin-top: 0;
		font-size: 15px;
		position: relative;
		cursor: pointer;
	}

	.sidebar-block__close:hover {
		color: #0067aa;
	}

	.sidebar-block__close:before {
		content: '';
		position: absolute;
		top: 0px;
		right: -28px;
		background: url('../img/close_dark.svg');
		width: 17px;
		height: 17px;
		background-size: contain;
	}

	.sidebar-block__close:hover:before {
		background: url('../img/close_dark_hover.svg');
		width: 17px;
		height: 17px;
		background-size: contain;
	}

	.mobile-hamburger {
		display: inline-block;
		width: 28px;
		height: 28px;
		background: url('../img/humburger_menu.svg') center center no-repeat;
		background-size: 28px;
		cursor: pointer;
	}

	.mobile-hamburger:hover {
		background: url('../img/humburger_menu_hover.svg') center center no-repeat;
		background-size: 28px;
	}

	.ms-menu {
		margin-top: 30px;
		font-size: 15px;
	}

	.ms-menu-items {
		margin-left: 0;
	}

	.ms-menu ul {
		list-style: none;
	}

	.ms-menu_item {
		margin: 10px 0;
	}

	.ms-menu_item a {
		color: #0067aa;
	}

	.ms-menu a:hover {
		color: #8cc63f;
	}

	.sidebar__contacts {
		margin-top: 25px;
		width: 100%;
	}

	.sidebar__contacts .search {
		width: 100%;
		margin: 25px 0;
	}

	.sidebar__contacts .header__lang {
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		text-align: left;
	}

	.sidebar__contacts .header__lang a {
		font-size: 14px;
		text-transform: uppercase;
	}

	.sidebar__contacts .header__phone {
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		text-align: left;
		font-size: 14px;
	}

	.sidebar__contacts .header__phone {
		text-align: center;
	}

	.sidebar__contacts .header__social {
		width: 100%;
		margin: 10px 0;
		text-align: center;
		justify-content: center;
	}

	.sidebar__contacts .social__item,
	.sidebar__contacts .social__item:hover {
		margin: 0 7px;
	}
}