@media screen and (max-width:1300px) {
	h1 {
	    font-size: 35px;
	}

	h2 {
		font-size: 22px;
	}

	body {
		font-size: 14px;
	}

	.wrapper {
		/*min-width: 768px;*/
		width: 90%;
	}

	.header__left {
		width: 160px;
	}

	.header__right {
		width: 540px;
	}

	.header__lang a {
		font-size: 12px;
	}

	.header__bottom {
		margin-top: 7px;
	}

	.header__social {
		margin-left: 10px;
	}

	.header__phone {
		margin: 0 15px 0 15px;
	}

	.social__item {
		width: 20px;
		height: 20px;
		margin-right: 6px;
		background-size: 20px;
	}

	.social__item:hover {
		background-size: 20px;
	}

	.search {
		width: 210px;
		margin-left: 28px;
	}

	.search button {
		width: 20px;
		height: 20px;
		background-size: 20px;
	}

	.search button:hover {
		background-size: 20px;
	}

	/*main page*/
	.slide {
		/*height: 550px;*/
	}

	.info__block_text {
		font-size: 35px;
		width: 50%;
	}

	.slide__text {
		font-size: 25px;
		letter-spacing: -2.5px;
	}

	.text__right {
		height: 580px;
	}

	.text__bottom {
		bottom: 55px;
	}

	.content__header {
		margin-top: 50px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.main__content {
		/*flex-wrap: wrap;*/
	}

	.news {
		width: 48%;
		margin-bottom: 15px;
	}

	.health {
		width: 48%;
		margin-bottom: 15px;
	}

	.news__item {
		margin-bottom: 15px;
		min-height: 115px;
	}

	.news__item_pic {
		width: 85px;
		height: 85px;
		margin-right: 10px;
	}

	.news__item_info {
		width: 80%;
	}

	.news__item_header {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.footer {
		padding: 30px 0;
	}

	.footer__items {
		flex-wrap: wrap;
	}

	.footer__item {
		/*width: 18%;*/
		font-size: 9px;
		margin-bottom: 20px;
	}

	.footer__contacts {
		width: 37%;
	}

	.footer__item_menu {
		width: 14%;
	}

	.footer__logo {
		width: 50%;
	}

	.footer__header {
		font-size: 12px;
	}

	.footer__contacts_link {
		margin-left: 20px;
		margin-bottom: 15px;
		max-width: 150px;
	}

	.footer__contacts_link:before {
		left: -20px;
	}

	.footer__menu_item {
		margin-bottom: 10px;
	}

	.footer .header__social {
		/*width: 100%;*/
	}

	.footer .social__item_footer {
		margin-right: 10px;
	}

	.footer__products_items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.footer__products {
		width: 17%;
	}

	.footer__products_item {
		margin-bottom: 11px;
		width: 70%;
	}

	.footer__products_pic img {
		max-height: 35px;
	}

	.footer__products_galavit img {
		max-height: 30
		px;
	}

	.social__item_footer,
	.social__item_footer:hover {
		width: 17px;
		height: 17px;
		margin-right: 5px;
		background-size: 17px;
	}

	.social__item_footer.social__item_telegtam,
	.social__item_footer.social__item_vk,
	.social__item_footer.social__item_tiktok,
	.social__item_footer.social__item_ok,
	.social__item_footer.social__item_youtube,
	.social__item_footer.social__item_dzen,
	.social__item_footer.social__item_telegtam:hover,
	.social__item_footer.social__item_vk:hover,
	.social__item_footer.social__item_tiktok:hover,
	.social__item_footer.social__item_ok:hover,
	.social__item_footer.social__item_youtube:hover,
	.social__item_footer.social__item_dzen:hover {
		background-size: 17px;
	}

	.social__item_footer:last-child {
		margin-right: 0;
	}

	.vacancies__block {
		width: 600px;
		margin: 0 auto;
	}

	.cities__block {
		margin: 20px 0;
	}

	.city__btn {
		font-size: 18px;
		padding: 10px 25px;
	}

	.cities__items {
		padding: 10px 25px;
		max-height: 200px;
		top: 48px;
	}

	.vacancies__item {
		padding-bottom: 15px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.vacancy__name {
		padding: 5px 15px;
	}

	.vacancy__info {
		font-size: 20px;
	}

	.link__btn {
		padding: 5px 90px;
	}

	.link__btn:hover {
		padding: 5px 90px;
	}

	.form__item {
		margin-bottom: 20px;
		padding: 10px 25px;
	}

	.form__item::-webkit-input-placeholder {font-size: 15px;}
	.form__item::-moz-placeholder          {font-size: 15px;}
	.form__item:-moz-placeholder           {font-size: 15px;}
	.form__item:-ms-input-placeholder      {font-size: 15px;}

	.form__textarea {
		height: 70px;
	}

	.vacancy__upload {
		margin-bottom: 20px;
		padding: 7px 25px 7px 0;
	}

	.file__btn {
		padding: 10px 15px;
	}

	.btn {
		padding: 10px 25px;
	}

	.vacancy__upload__file {
		padding: 13px 20px 13px 20px;
		margin-bottom: 20px;
	}

	.vacancy__form .menu__btn {
		padding: 0 23px;
	}

	/*company page*/
	.company__blocks {
		margin: 30px 0;
	}

	.company__pptx {
		font-size: 20px;
	}

	.company__pptx:after {
		top: -3px;
		right: -30px;
		width: 20px;
		height: 25px;
	}

	.company__link {
		margin-bottom: 40px;
	}

	.digitals__block {
		padding: 25px 0;
	}

	.digitals__header {
		font-size: 25px;
	}

	.slide__year {
		font-size: 25px;
	}

	.slider__digitals_block .slick-current .slide__year {
		margin-top: -7px;
		font-size: 30px;
	}

	.slide__content {
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 18px;
	}

	.production_gmp {
		width: 40%;
		margin: 25px 0;
	}

	.license__block {
		display: flex;
		justify-content: space-between;
	}

	.license__item {
		width: 48%;
	}

	.production__images {
		justify-content: space-around;
	}

	.production__images img {
		width: 25%;
		margin-right: 0;
	}

	.company__files {
		margin: 30px 0;
	}

	.company__files_links {
		margin-right: 25px;
	}

	.company__production_header {
		font-size: 22px;
	}

	.company__production-year_items {
		margin-bottom: 40px;
	}

	.company__production-year_items .company__production_item {
		margin-right: 10px;
	}

	.green__text {
		color: #8cc63f;
	}

	/*end company page*/
}

@media screen and (max-width:780px) {
	h1 {
		font-size: 17px;
		line-height: 18px;
		margin-bottom: 25px;
	}

	h2 {
		font-size: 16px;
		line-height: 20px;
	}

	h3 {
		font-size: 14px;
		line-height: 18px;
	}

	h4 {
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 19px;
	}

	h5, h6 {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 15px;
	}

	th,
	td {
		padding: 7px;
	}

	body {
		font-size: 12px;
	}

	.wrapper{
		width: 90%;
	}

	.header {
		padding: 10px 0;
		font-size: 12px;
	}

	.header__left {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		width: 215px;
	}

	.header__right_top {
		display: none;
	}

	.header__right {
		display: none;
	}

	.header__menu {
		display: none;
	}

	/*main page*/
	.page__main {
		margin-bottom: 50px;
	}

	.slide {
		/*height: 400px;*/
	}

	.info__block_text {
		font-size: 30px;
		font-weight: 500;
		line-height: 35px;
		width: 90%;
	}

	.slide__text {
		font-size: 18px;
		letter-spacing: -2px;
	}

	.text__right {
		height: 380px;
	}

	.text__bottom {
		bottom: 45px;
	}

	.slick-dots {
		bottom: 20px;
	}

	.slick-dots li.slick-active {
		border: 1px solid #fff;
		top: 8px;
	}

	.slick-dots li {
		width: 15px;
		height: 15px;
	}

	.slick-dots li button {
		width: 15px;
		height: 15px;
		border: 1px solid #fff;
	}

	.main__content {
		flex-wrap: wrap;
	}

	.news {
		width: 100%;
		margin-bottom: 25px;
	}

	.health {
		width: 100%;
		margin-bottom: 25px;
	}

	.content__header {
		margin-top: 30px;
		margin-bottom: 25px;
		font-weight: 500;
		font-size: 22px;
	}

	.news__item {
		min-height: 100px;
		margin-bottom: 20px;
		justify-content: flex-start;
	}

	.news__item_pic {
		width: 70px;
		height: 70px;
	}

	.news__item_info {
		width: 80%;
	}

	.news__item_header {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.news__item_text {
		font-size: 12px;
	}

	.footer {
		padding: 25px 0;
	}

	.footer__items {
		flex-wrap: wrap;
	}

	.footer__item {
		width: 100%;
		font-size: 12px;
		margin-bottom: 10px;
	}

	.footer__contacts {
		width: 100%;
	}

	.footer__logo {
		width: 215px;
		margin-bottom: 20px;
	}

	.footer__header {
		font-size: 16px;
		font-weight: 600;
	}

	.footer__contacts_link {
		margin-left: 20px;
		margin-bottom: 15px;
		max-width: 100%;
	}

	.footer__contacts_link:before {
		left: -20px;
	}

	.footer__menu_items {
		margin-left: 0;
		list-style: none;
	}

	.footer__menu_item {
		margin-bottom: 15px;
	}

	.footer .header__social {
		/*width: 70%;*/
	}

	.footer__item_menu {
		display: none;
	}

	.footer__products_item {
		margin-bottom: 20px;
		width: 48%;
		text-align: center;
	}

	.footer__products_pic img {
		max-height: 35px;
		width: auto;
	}

	.footer__products_galavit img {
		max-height: 25px;
	}

	.footer .header__social {
		/*width: 100%;*/
	}

	.sidebar__contacts .social__item,
	.social__item_footer,
	.social__item_footer:hover,
	.sidebar__contacts .social__item:hover {
		width: 27px;
		height: 27px;
		margin-right: 15px;
		background-size: 27px;
	}

	.social__item_footer.social__item_telegtam,
	.social__item_footer.social__item_vk,
	.social__item_footer.social__item_tiktok,
	.social__item_footer.social__item_ok,
	.social__item_footer.social__item_youtube,
	.social__item_footer.social__item_dzen,
	.social__item_footer.social__item_telegtam:hover,
	.social__item_footer.social__item_vk:hover,
	.social__item_footer.social__item_tiktok:hover,
	.social__item_footer.social__item_ok:hover,
	.social__item_footer.social__item_youtube:hover,
	.social__item_footer.social__item_dzen:hover {
		background-size: 27px;
	}

	.social__item_footer:last-child {
		margin-right: 0;
	}

	.sidebar-block__top {
		overflow: hidden;
	}

	.user-sidebar__logo {
		width: 50%;
		display: inline-block;
	}

	.sidebar-block__close {
		float: right;
		margin-right: 40px;
		margin-top: 0;
		font-size: 15px;
		position: relative;
		cursor: pointer;
	}

	.sidebar-block__close:hover {
		color: #0067aa;
	}

	.sidebar-block__close:before {
		content: '';
		position: absolute;
		top: 0px;
		right: -28px;
		background: url('../img/close_dark.svg');
		width: 17px;
		height: 17px;
		background-size: contain;
	}

	.sidebar-block__close:hover:before {
		background: url('../img/close_dark_hover.svg');
		width: 17px;
		height: 17px;
		background-size: contain;
	}

	.mobile-hamburger {
		display: inline-block;
		width: 28px;
		height: 28px;
		background: url('../img/humburger_menu.svg') center center no-repeat;
		background-size: 28px;
		cursor: pointer;
	}

	.mobile-hamburger:hover {
		background: url('../img/humburger_menu_hover.svg') center center no-repeat;
		background-size: 28px;
	}

	.ms-menu {
		margin-top: 30px;
		font-size: 15px;
	}

	.ms-menu-items {
		margin-left: 0;
	}

	.ms-menu ul {
		list-style: none;
	}

	.ms-menu_item {
		margin: 10px 0;
	}

	.ms-menu_item a {
		color: #0067aa;
	}

	.ms-menu a:hover {
		color: #8cc63f;
	}

	.sidebar__contacts {
		margin-top: 25px;
		width: 100%;
	}

	.sidebar__contacts .search {
		width: 100%;
		margin: 25px 0;
	}

	.sidebar__contacts .header__lang {
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		text-align: left;
	}

	.sidebar__contacts .header__lang a {
		font-size: 14px;
		text-transform: uppercase;
	}

	.sidebar__contacts .header__phone {
		width: 100%;
		display: inline-block;
		margin: 10px 0;
		text-align: left;
		font-size: 14px;
	}

	.sidebar__contacts .header__phone {
		text-align: center;
	}

	.sidebar__contacts .header__social {
		width: 100%;
		margin: 10px 0;
		text-align: center;
		justify-content: center;
	}

	.sidebar__contacts .social__item,
	.sidebar__contacts .social__item:hover {
		margin: 0 7px;
	}

	/*career page*/
	.vacancies__block {
		width: 320px;
	}

	.cities__block {
		margin: 20px 0;
	}

	.city__btn {
		font-size: 15px;
		padding: 10px 15px;
	}

	.cities__items {
		padding: 7px 15px;
		max-height: 150px;
		top: 43px;
	}

	.vacancies__items {
		margin-bottom: 10px;
	}

	.vacancies__item {
		padding-bottom: 10px;
		margin-right: 0;
		width: 100%;
		margin-bottom: 15px;
	}

	.vacancy__name {
		padding: 5px 15px;
	}

	.vacancy__city {
		padding: 0 15px;
		margin: 5px 0 7px 0;
	}

	.vacancy__text {
		padding: 0 15px;
		margin: 2px 0;
	}

	.vacancy__info {
		font-size: 18px;
		margin: 10px 0;
	}

	.link__btn {
		padding: 5px 50px;
	}

	.link__btn:hover {
		padding: 5px 50px;
	}

	.form__item {
		margin-bottom: 15px;
		padding: 10px 15px;
	}

	.form__item::-webkit-input-placeholder {font-size: 14px;}
	.form__item::-moz-placeholder          {font-size: 14px;}
	.form__item:-moz-placeholder           {font-size: 14px;}
	.form__item:-ms-input-placeholder      {font-size: 14px;}

	.form__textarea {
		height: 60px;
	}

	.vacancy__upload {
		margin-bottom: 15px;
		padding: 7px 25px 7px 0;
	}

	.file__btn {
		padding: 9px 15px;
		margin-left: -2px;
	}

	.file__name {
		padding-left: 10px;
		overflow: hidden;
	}

	.btn {
		padding: 10px 25px;
	}

	.vacancy__form .menu__btn {
		padding: 0 15px;
	}
	/*end career page*/
	/*company page*/
	.company__blocks {
		margin: 0;
		flex-wrap: wrap;
	}

	.company__block_items {
		width: 100%;
		margin: 20px 0 0 0;
	}

	.company__blocks_item {
		width: 48%;
	}

	.company__blocks_item:first-child {
		width: 100%;
		margin-bottom: 15px;
	}

	.company__pptx {
		font-size: 12px;
	}

	.company__pptx:after {
		top: -2px;
		right: -25px;
		width: 15px;
		height: 20px;
	}

	.company__link {
		margin-bottom: 25px;
	}

	.digitals__header {
		font-size: 14px;
	}

	.slider__digitals {
		margin-top: 30px;
	}

	.slide__year {
		font-size: 14px;
	}

	.slider__digitals_block .slick-current .slide__year {
		margin-top: -3px;
		font-size: 18px;
	}

	.slide__content {
		margin-top: 30px;
		margin-bottom: 20px;
		font-size: 14px;
	}

	.production__images {
		flex-wrap: wrap;
	}

	.production__images img {
		width: 30%;
		margin-right: 15px;
	}

	.production__images img:nth-child(3n) {
		margin-right: 0;
	}

	.production_gmp {
		width: 50%;
		margin: 25px 0;
	}

	.license__block {
		flex-wrap: wrap;
		justify-content: center;
	}

	.license__item {
		width: 100%;
	}

	.production__license {
		width: 80%;
		display: inline-block;
		margin: 25px 0 25px 50%;
		transform: translateX(-50%);
	}

	.company__files {
		margin: 30px 0;
		flex-wrap: wrap;
	}

	.company__files_links {
		margin-right: 0;
		width: 100%;
	}

	.company__files_link {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.company__production_items {
		flex-wrap: wrap;
	}

	.company__production-year_items {
		margin-bottom: 40px;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.company__production-year_items .company__production_item {
		margin-right: 0
	}

	.company__production_item {
		width: 49%;
		margin-bottom: 10px;
	}

	.company__production_header {
		margin: 20px 0;
		line-height: 25px;
		font-size: 13px;
	}

	.green__text {
		color: #8cc63f;
	}

	.company__news_images {
		flex-wrap: wrap;
		justify-content: center;
	}

	.company__news_images img {
		width: 55%;
		margin: 15px 0;
	}

	.company__partners_items {

	}

	.company__partners_item {
		width: 40%;
		margin: 15px 0;
	}
	/*end company page*/
}